#control {
	display: flex;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
}

input,a {
	display: block;
	border: 1px solid;
	border-color: orange;
	background-color: black;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	text-align: center;
	margin: 10px;
	padding: 5px;
	font-size: 15px;
	font-family: "Arial, sans-serif";
}

input:hover,a:hover {
	background-color: gray;
}